/*pink background for main body */
body{
    background-color: #ffe6f0;
    font-family: 'Quicksand', sans-serif;
}

/* navbar background pink, spacing */
.navbar {
    background-color: #ffb6c1 !important;
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

/* Space out navbar items */
.navbar-nav .nav-link {
    margin: 0 12px;
    padding: 0.5rem 1rem;
}

/* change font to bold while hovering */
.navbar .nav-link:hover {
    font-weight: 700;
}
/* change navbar font to Syne */
.navbar-brand {
    font-family: 'Syne', serif;
    font-size: 1.8rem;
}
/* show active page on nav bar */
.navbar .nav-link.active {
    background-color: #5a2d4e;
    color: white !important;
    border-radius: 20px;
    padding: 0.4rem 1rem;
}
/* nav bar button pink */
.btn-primary {
    background-color: #ffb6c1;
    border-color: #ffb6c1;
    color: black;
}

/* pink buttons */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #ff99aa !important;
    border-color: #ff99aa !important;
}

/* Resume page background light pink*/
body.resume-page {
    background-color: #ffe6f0;
}

/* back btn pink, rounded */
.resume-page .btn-back{
    background-color: #ffb6c1;
    border-color: #ffb6c1;
    color: black;
    border-radius: 50px;
    padding: 0.5rem 1.2rem;
}

/* change back button color when hover*/
.resume-page .btn-back:hover{
    background-color: #ff99aa;
    border-color: #ff99aa;
    color: white;
}

/*fixed height for card pics*/
.card-img-top {
    height: 200px;
    object-fit: cover;
}
